$bg: rgba(249, 248, 248, 0.761);
$bor-rad: 5px;

body{
	padding-top: 40px;
}

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.container{
	max-width: 600px;
	margin: auto;
	@include flex-col-center;
	background-color: $bg;
	border: 2px solid rgba(36, 125, 203, 0.667);
	border-radius: $bor-rad;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}
.message{
	&--inbox{
		margin-top: 5px;
		padding: 0px 5px;
		height: 30px;
		width: 95%;
		border-bottom: 1px solid grey;
		line-height: 2.5;
	}
	&--outgoing{
		height: 200px;
	}
	&__wrapper{
		@include flex-col-center;
		width: 100%;
		border-bottom: 1px solid grey;
	}
}
.new-msg{
	@include flex-col-center;
	padding: 10px 10px 0 10px;
	&__text{
		border: 1px solid rgba(128, 128, 128, 0.408);
		border-radius: $bor-rad;
		width: 100%;
		height: 100px;
		background-color: $bg;
	}
	&__btn{
		margin: 8px 0;
		height: 40px;
		width: 95%;
		color: white;
		font-size: 16px;
		background: linear-gradient(rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%);
		border-radius: $bor-rad;
	}
}